.nav {
    height: 80px;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#brand {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand h1 {
    font-size: 37px;
    color: cornsilk;
}

#icons {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#icons i {
    margin-right: 20px;
}

#icons button {
    padding: 10px 30px;
    background: none;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    font-size: 15px;
    font-weight: bold;
}

#links {
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#links a {
    text-decoration: none;
    font-size: 17px;
    color: cornsilk;
}

#categories {
    height: 100px;
    width: 1400px;
    margin: 30px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    box-shadow: 0 0 10px black;
}