.users-container {
    padding: 10px;

}

.card {
    width: 230px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;

}

.card h3 {
    margin-top: 13px;
    margin-bottom: 10px;
}

.users-list {
    width: 800px;
    margin-top: 30px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}